[submodule "contracts/test/zerodev-kernel-lite/forge-std"]
	path = contracts/test/zerodev-kernel-lite/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/test/zerodev-kernel-lite/I4337"]
	path = contracts/test/zerodev-kernel-lite/I4337
	url = https://github.com/leekt/I4337
[submodule "contracts/test/zerodev-kernel-lite/FreshCryptoLib"]
	path = contracts/test/zerodev-kernel-lite/FreshCryptoLib
  url = https://github.com/rdubois-crypto/FreshCryptoLib
[submodule "contracts/test/zerodev-kernel-lite/p256-verifier"]
  path = contracts/test/zerodev-kernel-lite/p256-verifier
  url = https://github.com/daimo-eth/p256-verifier
[submodule "contracts/test/zerodev-kernel-lite/solady"]
	path = contracts/test/zerodev-kernel-lite/solady
	url = https://github.com/vectorized/solady
